#container{
    background-color: hsl(212, 45%, 89%);
    padding: 0;
    display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
font-family: 'Outfit', sans-serif;
}
#box{
    background-color: white;
    padding: 16px;
    width:320px;
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
}
#img img{
 width: 100%;
 border-radius:10px;
 margin-bottom: 20px;
 cursor: pointer;
 transition: opacity 0.3s ease;
}
#img img:hover{
    opacity: 0.9; 
}
#par1{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 16px;
   
    color: hsl(218, 44%, 22%);
    line-height: 1.3; 
}
#par2{
    font-weight: 400;
    color:  hsl(216, 15%, 48%);
    font-size: 15px;
    margin-bottom: 20px;
   line-height: 1.4; 
    padding: 0 10px;
}
